.chat-container {
	width: 100%;
	max-width: 1600px;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-container .content {
	width: 100%;
	max-width: 1320px;
	padding: 0px;
	height: 100%;
	max-height: 600px;

	border-radius: 20px;

	display: flex;

	align-items: center;
}

.chat-container .content .users {
	width: 100%;
	max-width: 370px;
	height: 100%;
	max-height: 710px;

	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

	background-image: linear-gradient(
		to top,
		#26a69a,
		#29ab94,
		#32af8d,
		#40b383,
		#50b779,
		#5cba74,
		#68bd6e,
		#74bf68,
		#7ec267,
		#88c666,
		#92c966,
		#9ccc65
	);
}
.chat-container .content .users #perfil {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
	padding: 19px;
	height: 100%;
	max-height: 150px;
}
#perfil-user {
	display: flex;

	width: 100%;
	max-width: 250px;
	height: 100%;
	max-height: 70px;
}

#perfil-user-photo {
	width: 45px;
	height: 45px;
	background-color: #40a977;
	border-radius: 50%;
}
#info {
	display: flex;
	flex-direction: column;
}
#perfil-user-name {
	margin-top: 12px;
	margin-left: 10px;
	font-size: 15px;
	font-weight: bold;
	height: 10px;
	color: white;
}

#perfil-user-status {
	margin-top: 10px;
	margin-left: 11px;
	margin-right: 6px;
	color: white;
	font-size: 12px;
}

#perfil-config {
	display: flex;

	width: 100%;
	max-width: 30px;
	height: 100%;
	max-height: 50px;
	align-items: center;
	justify-content: center;
}

#search {
	position: relative;
	top: 10px;
	left: 24px;
	color: rgba(0, 0, 0, 0.178);
}

#perfil-search {
	justify-content: start;
	display: flex;
	flex-direction: row-reverse;
	width: 100%;

	height: auto;
}
.chat-container .content .users #perfil input {
	position: relative;
	right: 6px;
	width: 100%;
	height: 35px;
	font-size: 15px;
	border-radius: 18px;
	color: white;
	background-color: rgba(0, 0, 0, 0.103);
	border: transparent;
	margin-bottom: 18px;

	padding-left: 36px;
	padding-right: 10px;
}

.chat-container .content .users #friends {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: auto;
}

#friends-add {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-left: 22px;
	padding-right: 22px;
}

#friends-add span {
	font-size: 15px;
	color: white;
	font-weight: bold;
}

#friends-list {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.103);
	overflow-x: auto;
}
#friends-list ul {
	display: flex;
	flex-direction: row;
}
#friends-list ul li {
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}
#friends-list ul li .friends-list-photo {
	width: 45px;
	height: 45px;
	background-color: #40a977;
	border-radius: 50%;
}

#friends-list ul li .friends-list-photo .status-user {
	position: relative;
	left: 34px;
}
.chat-container .content .users #conected {
	width: 100%;
	height: 100%;
	max-height: 356px;

	font-size: 15px;
	font-weight: bold;
	color: white;
	padding: 18px;
}

#conected-list {
	overflow-y: auto;
	max-height: 325px;
}
#conected ul {
	width: 100%;
	height: auto;
}
#conected ul li .conected-list-users {
	
	margin-top: 15px;
	
	margin-bottom: 15px;
	width: 100%;
	height: auto;
	display: flex;
}

#conected ul li .conected-list-users .conected-list-users-photo{
	width: 45px;
	height: 45px;
	background-color: #0f5835;
	border-radius: 50%;
}
.info-user{
	
	max-width: 240px;
	width: 100%;

}

.conected-list-user-name {
	position: relative;
	top: 7px;
	left: 10px;
}

.conected-list-user-description {
	position: relative;
	font-size: 10px;
	top: 21px;
	right: 85px;
}

.info-status{
	display: flex;
	flex-direction: column;
	
	margin-top: 8px;
	justify-self: flex-end;
	float: right;
}

.info-status .status-circle{
	position: relative;
	left: 8px;
}

.info-status span{
	font-size: 10px;
}

.chat-container .content .principal {
	width: 100%;

	height: 100%;
	max-height: 700px;

	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

	margin-left: 0px;
	padding-bottom: 0px;
	background-image: linear-gradient(
		to bottom,
		#e3e3e3,
		#e6e6e6,
		#e8e8e8,
		#ebebeb,
		#eeeeee,
		#f0f0f0,
		#f3f3f3,
		#f5f5f5,
		#f7f7f7,
		#fafafa,
		#fcfcfc,
		#ffffff
	);
}

.chat-container .content .principal .chat {
	width: 100%;
	max-width: 1090px;
	height: 100%;
	max-height: 535px;
	flex: auto;
	overflow-y: auto;
	overflow-x: hidden;
	
}

#divisao {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(175, 172, 172);
	height: 66px;
	margin-bottom: 0px;
	border-bottom-right-radius: 10px;
}

#texto {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	display: flex;
	width: 100%;
	max-width: 800px;
	height: 40px;
	background-color: white;
	border-radius: 15px;
	border: none;
}



.list-mine {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-bottom: -20px;
}
.list-other {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

li {
	list-style: none;
	margin-bottom: 20px;
}

.name-container-other {
	text-align: end;
	margin-bottom: 12px;
}

.name-container-mine {
	text-align: start;
	margin-bottom: 12px;
}



.message-mine {
	color: rgb(56, 55, 55);
	padding: 15px;
	
	font-size: 13px;
	border-radius: 8px;
	margin-bottom: 10px;
	position: relative;
	
	background: #94c2ed;
}
.message-mine::after {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #94c2ed;
	border-width: 10px;
	margin-left: -10px;
}

.message-other {
	color: white;
	padding: 15px;
	
	font-size: 13px;
	border-radius: 8px;
	margin-bottom: 30px;
	align-self: flex-end;
	position: relative;
	background: rgb(49, 145, 66);
}

.message-other::before {
	bottom: 100%;
	right: 20px;
	align-items: flex-start;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: rgb(49, 145, 66);
	border-width: 10px;
	margin-left: -10px;
}

.flr1 {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	width: calc(100% - 50px);
}

.msg-mine1 {
	display: inline-block;
	font-size: 11pt;
	line-height: 13pt;
	color: rgba(24, 3, 3, 0.7);
	margin: 0 0 4px 0;
}
p {
	max-width: 70%;
	word-wrap: break-word;
	white-space: nowrap;
}

.msg-other1 {
	display: inline-block;
	font-size: 13pt;
	line-height: 13pt;
	color: rgba(255, 255, 255, 0.7);
}

.msg-box-mine1 {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #89ddff;
	padding: 10px 10px 0 10px;
	border-radius: 15px;
	float: left;
	max-width: 500px;
	width: 100%;
	margin-bottom: 20px;
	margin-right: 2000px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
	margin-left: 10px;
}

.msg-box-other1 {
	display: flex;
	background: #359143;
	padding: 10px 10px 0 10px;
	border-radius: 15px;
	float: right;
	max-width: 80%;
	width: auto;
	margin-bottom: 20px;
	margin-left: 2000px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
	margin-right: 10px;
}
.user-img1 {
	display: inline-block;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background: #2671ff;
	margin: 0 10px 10px 0;
}

#nome1 {
	margin-bottom: 10px;
	display: block;
}
