.chat-container {
	width: 100%;
	max-width: 1600px;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-container .content {
	width: 100%;
	max-width: 1320px;
	padding: 0px;
	height: 100%;
	max-height: 600px;

	border-radius: 20px;

	display: flex;

	align-items: center;
}

.chat-container .content .users {
	width: 100%;
	max-width: 230px;
	height: 100%;
	max-height: 700px;

	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

	background-image: linear-gradient(
		to bottom,
		#0a1046,
		#0f1552,
		#111855,
		#0f1963,
		#1b2779,
		#222f83,
		#29368e,
		#303e98,
		#3b49a2,
		#4654ac,
		#515fb6,
		#5c6bc0
	);
}

.chat-container .content .principal {
	width: 100%;

	height: 100%;
	max-height: 700px;

	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

	margin-left: 0px;
	padding-bottom: 0px;
	background-image: linear-gradient(
		to bottom,
		#e3e3e3,
		#e6e6e6,
		#e8e8e8,
		#ebebeb,
		#eeeeee,
		#f0f0f0,
		#f3f3f3,
		#f5f5f5,
		#f7f7f7,
		#fafafa,
		#fcfcfc,
		#ffffff
	);
}

.chat-container .content .principal .chat {
	width: 100%;
	max-width: 1090px;
	height: 100%;
	max-height: 535px;
	flex:auto;
}

#divisao {
	width: 100%;
	display: flex;

	justify-content: center;
	align-items: center;
	background-color: rgb(207, 207, 207);
	height: 65px;
	margin-bottom: 0px;
	border-bottom-right-radius: 10px;
}

#texto {
	margin-left: 0px;
	margin-top: 0px;
	display: flex;
	width: 100%;
	max-width: 1000px;
	height: 40px;
	background-color: white;
	border-radius: 15px;
	border:none;
}

form input #texto{
	margin-left: 0px;
	margin-top: 0px;
	display: flex;
	width: 100%;
	max-width: 1000px;
	height: 40px;
	background-color: white;
	border-radius: 15px;
	border:none;
}



.list {
	
	padding: 1rem;
	
	
}

.message {
	border-radius: 5px;
	display: inline-block;
	list-style: none;
	margin-bottom: 1rem;
	padding: 0.5rem 1rem;
	flex: 1 0 auto;
}


.flr {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	width: calc(100% - 50px);
}

.msg-mine {
	display: inline-block;
	font-size: 11pt;
	line-height: 13pt;
	color: rgba(24, 3, 3, 0.7);
	
}

.msg-other {
	display: inline-block;
	font-size: 13pt;
	line-height: 13pt;
	color: rgba(255, 255, 255, 0.7);
	
}



.msg-box-mine {
	display: flex;
	background: #89ddff;
	padding: 10px 10px 0 10px;
	border-radius: 15px;
	float: left;
	max-width: 80%;
	width: auto;
	margin-bottom: 20px;
	margin-right: 2000px;
	
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
	margin-left: 10px;

}


.msg-box-other {
	display: flex;
	background: #359143;
	padding: 10px 10px 0 10px;
	border-radius: 15px;
	float: right;
	max-width: 80%;
	width: auto;
	margin-bottom: 20px;
	margin-left: 200px;
	
	
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
margin-right: 10px;

}
.user-img {
	display: inline-block;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background: #2671ff;
	margin: 0 10px 10px 0;
}
.user-img-other {
	
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background: #2671ff;
	margin: 0 10px 10px 0;
	float: left;
}