.TabContainer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	background-image: linear-gradient(to right, #45a24a, #429e46, #3e9a42, #3b963f, #37923b, #2d8e3f, #228943, #158546, #007e4f, #007856, #00705a, #00695c);
	border-radius: 0px 10px 0 0;
	height: 40px;
	width: 100%;
}

.leftInnerContainer {
	flex: 0.8;
	display: flex;
	align-items: center;
	margin-left: 5%;
  color: white;
  
  

}

#FaTimesCircle{
	display: flex;
}

.leftInnerContainer .tabItem{
  display: flex;
  border: solid 0px;
  
  border-radius: 7px 7px 0px 0px;
  height: 30px;
  align-items: center;
  justify-content: center;
  width: 60px;
  background-color: #e3e3e3;
  color:rgb(51, 115, 117);

}

.rightInnerContainer {
	display: flex;
	
	height: 100%;
	width: 30px;
	align-items: center;
  
 
}

.onlineIcon {
	margin-right: 5%;
}
