.logon-container {
	width: 100%;
	max-width: 1120px;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#Logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}

.logon-container section.form {
	width: 100%;
	max-width: 550px;
	padding: 18px;
	border: transparent;
	background-color: #f0f8ff62;
	
	
	border-radius: 16px;
	-webkit-box-shadow: 11px 9px 12px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 9px 12px 6px rgba(0,0,0,0.75);
	box-shadow: 11px 9px 12px 6px rgba(0,0,0,0.75);
}

.logon-container section.form form {
	margin-top: 20px;
}

.logon-container section.form form h1 {
	font-size: 32px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	display: flex;
	align-items: center;
	margin-top: 30px;
	color: rgb(43, 23, 68);
	font-weight: bold;
	transition: opacity 0.2;
	text-decoration: none;
}


img {
	width: 100%;
	height: 100%;
	max-width: 200px;
	max-height: 200px;
}
