
#conected ul {
	width: 100%;
	height: auto;
}


#conected li:hover{
  background-color: rgba(0, 0, 0, 0.082);
}

#conected ul li .conected-list-users { 
	
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: auto;
  display: flex;
  
}


#conected ul li .conected-list-users .conected-list-users-photo{
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
}
.info-user{
  margin-top: 13px;
	margin-left: 8px;
	max-width: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.conected-list-user-description {
	
	font-size: 10px;
	
	
}
.info-status{
	display: flex;
	flex-direction: column;
	
	margin-top: 8px;
	justify-self: flex-end;
	float: right;
}
.info-status .status-circle{
	position: relative;
	left: 8px;
}
.info-status span{
	font-size: 10px;
}
.linha{
  
  border: 0.1px solid #8e919079;
}